<div class="container">
  <div class="row mb-3 mt-3">
    <h2 class="col-12 text-center">
      Estaciones de Trabajo - Equipo CX
    </h2>
  </div>
</div>
<div class="container">
  <div *ngFor="let area_trabajo of areas_trabajo" class="row mb-5" style="border-left-style: solid; border-left-color: blue; border-left-width: 5px;">
    <div *ngFor="let grupo of area_trabajo; let i = index" class="row mb-2">
      <div *ngFor="let mesa of grupo" class="col-2"
           [style.background-image]="i % 2 === 0 ? 'url(\'assets/normal_u.png\')' : 'url(\'assets/normal_d.png\')'"
           style="background-size: 100% 100%; background-position: center; height: 100px; text-align: center; line-height: 100px;">
        <b style="color:blue;">{{mesa.asignado}}</b>
      </div>
    </div>
  </div>
</div>
